
<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: :recipe_title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, id: :recipe_description%>
  </div>

<div class="field">
  <%= f.nested_fields_for :ingredients do |ingredient| %>
  <%= ingredient.remove_nested_fields_link  %>
  <%= ingredient.text_field :content  %>
  <% end %>
  <% f.add_nested_fields_link :ingredients%>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
